
<%- include('header.ejs') %>


    
    <div id="pokemonit">

        <% for (let pokemon of pokemons) { %>
            <div class="pokemon">
                <a href="/pokemon/<%= pokemon.name %>"><%= pokemon.name %></a>
            </div>

        <% } %>

    </div>

<%- include('footer.ejs'); %>

